.entrada-container {
  background-color: white;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 800px;
  margin: 2rem auto;
}

.entrada-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: flex-end;
}

.entrada-form input,
.entrada-form select {
  flex: 1;
  min-width: 200px;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.entrada-form button {
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.entrada-form button:hover {
  background-color: var(--primary-color-dark);
}

.registros-list {
  margin-top: 2rem;
}

.registros-list li {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: #f7f7f7;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 6px;
}

.registros-list li span:first-child {
  font-weight: bold;
  color: var(--primary-color);
}

.entrada-form select {
  appearance: none;
  color: #686868;
  background-color: white;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22292%22%20height%3D%22192%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M287%2069L150%20191%205%2069h282z%22%20fill%3D%22%23666%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 0.65rem auto;
}
